<?php

namespace App;

class Parameters
{
    const SYSTEM = [
        'debug' => true
    ];

    const DATABASE = [
        'driver' => 'mysql',
        'host' => 'localhost',
        'database' => 'stripe_payments',
        'username' => '',
        'password' => '',
        'charset' => 'utf8',
        'collation' => 'utf8_unicode_ci',
        'prefix' => ''
    ];

    const EMAIL = [
        'host' => '',
        'username' => '',
        'password' => ''
    ];

    const SECURITY = [
        'status' => 'login_status',
        'cookie' => 'X-Auth',
        'secret' => '',
        'login' => ''
    ];
}
