<?php

namespace App;

class Parameters
{
    const SYSTEM = [
        'debug' => true
    ];

    const DATABASE = [
        'host' => '',
        'dbname' => '',
        'user' => '',
        'password' => '',
        'charset' => '',
        'driver' => ''
    ];

    const EMAIL = [
        'host' => '',
        'username' => '',
        'password' => ''
    ];

    const SECURITY = [
        'status' => 'login_status',
        'cookie' => 'X-Auth',
        'secret' => '',
        'login' => ''
    ];
}
