<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="/">
<title>Enregistrer vos clefs Stripe</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/application.css">
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/bootstrap.min.js"></script> 
</head>
<body>
    <div class="row">
        <div class="header col-xs-4 col-xs-offset-4">
            <h1><strong>Stripe Payment Admin</strong></h1>
        </div>
        <div class="signup-form col-xs-4 col-xs-offset-4">
            <form action="{{ path_for('adduser') }}" method="get">
                {% if error %}
                    <h2>Erreur</h2>
                    <div class="panel panel-danger">
                        <div class="panel-body">
                            <blockquote>
                                <p class="text-danger small">{{ error|raw }}</p>
                            </blockquote>
                        </div>
                    </div>
                {% else %}
                    <h2>Success</h2>
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <p class="text-justify">Voici l'adresse du lien pour initier toute transaction de payement depuis le site client.</p>
                            <blockquote>
                                <code>{{ generated_link }}</code>
                            </blockquote>
                            <p class="text-justify">Il suffit d'ajouter le prix (exprimé en centime) suivi d'une réference d'article au chemin ci-dessus</p>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Ajouter un nouvel utilisateur</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>    

