<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="/">
<title>Welcome</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/application.css">
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row bs-wizard" style="border-bottom:0;">
            <div id="step-1" class="col-xs-3 bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum">Mode de payement</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot step-btn" data-step="0"></a>
            </div>
            <div id="step-2" class="col-xs-3 bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum">Identifiez vous</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot step-btn" data-step="1"></a>
            </div>
            <div id="step-3" class="col-xs-3 bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum">Payement</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot step-btn" data-step="2"></a>
            </div>
            <div id="step-4" class="col-xs-3 bs-wizard-step active">
                <div class="text-center bs-wizard-stepnum">Finalisation</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot step-btn" data-step="3"></a>
            </div>
        </div>
        <div class="signup-form col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
            <form action="#" name="pay-identify-form">
                <input type="hidden" name="payment-type" value="{{session.payment_type}}">
            </form>
        </div>
    </div>
    <script src="js/application.js"></script> 
    <script src="js/result.js"></script> 
</body>
</html>