<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="/">
<title>Ipefix Payment Solution</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/application.css">
<link rel="stylesheet" href="css/payresult.css">
<link rel="stylesheet" href="css/print.css">
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container main hidden">
        <div class="row header">
            <div class="col-sm-6 col-xs-12 col-sm-offset-3">
                <div class="text-center">
                    <h1 class="boldi light-blue">Ipefix Payment Solution</h1>
                </div>
            </div>
        </div>
        <div class="row content">
            <form action="#">
                <input type="hidden" name="check-url" value="{{- check_url -}}">
                <div class="col-sm-6 col-xs-12 border-right">
                    <div class="content-left">
                        <h2 class="dark-blue boldi">{%- if status=='failed' -%}Oup's ...{%- else -%}Merci{%- endif -%}</h2>
                        {% if status=='failed' -%}
                            <h4 class="result mid-red">Une erreur est survenue  <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></h4>
                        {% endif -%}
                        <div class="img-logo">
                            <img src="images/{{ bank_logo }}.png" alt="bank-logo" class="img-logo">
                        </div>
                        <div class="result-container">
                            <p class="result-text bold hidden"></p>
                            <div class="loader-container"></div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default btn-sm btn-print bold">Imprimer</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 border-left">
                    <div class="content-right">
                        <p class="detail bold">Détail de la transaction -----------</p>
                        <p>{{ message|raw }}</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="row footer">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="text-center copyr">&copy; Ipefix 2019</div>
            </div>
        </div>
    </div>
    <div id="print-container" class="print-container"></div>
    <div class="container loader"></div>
    <script src="js/loadingoverlay.min.js"></script>
    <script src="js/application.js"></script>
    <script src="js/print.js"></script>
    <script src="js/result.js"></script>
</body>
</html>