<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="/">
<title>Enregistrer vos clefs Stripe</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/application.css">
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row">
        <div class="signup-form col-xs-4 col-xs-offset-4">
            <form action="#">
                <h2>Success</h2>
                <p class="success">Merci {{ email }}, vos données ont étés misent à jour.</p>
                <p class="success">Veuillez copier ce lien dans votre accompte Stripe.</p>
                <p class="success"><code>{{ generated_wbh }}</code></p>
                <p class="success">Vous pouvez fermer cette page.</p>
            </form>
        </div>
    </div>
</body>
</html>    

