@font-face {
    font-family: Source Code Pro;
    font-weight: 400;
    src: url(../fonts/SourceCodePro-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Nonito Sans;
    font-weight: 400;
    src: url(../fonts/NunitoSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Nonito Sans Bold;
    font-weight: 600;
    src: url(../fonts/NunitoSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: Nonito Sans Bold Italic;
    font-style: italic;
    font-weight: 600;
    src: url(../fonts/NunitoSans-BoldItalic.ttf) format('truetype');
}

body {
    font-family: Nonito Sans, sans-serif;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.dark-blue  {color: #3B4856;}
.mid-blue   {color: #006699;}
.light-blue {color: #9FADBD;}
.mid-fush   {color: #91496A;}
.light-fush {color: #C97B9D;}
.mid-yelo   {color: #E49D22;}
.light-yelo {color: #FFECCC;}
.mid-brown  {color: #8B7356;}
.mid-green  {color: #5CA700;}
.mid-red    {color: #FF3C26;}

.code {
    font-family: Source Code Pro;
}

.bold {
    font-family: Nonito Sans Bold;
    font-weight: bold;
}

.boldi {
    font-family: Nonito Sans Bold Italic;
    font-weight: bold;
    font-style: italic;
}

.loader {
    position:fixed;
    top:0;
    left:0;
    background:rgba(255,255,255,0);
    z-index:5;
    width:100%;
    height:100%;
    overflow: hidden;
}

.main h2,
.main h3,
.main h4 {
    white-space: nowrap;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.main .glyphicon {
    vertical-align: bottom;
    margin-bottom: -1px;
}

.main .content .form-group button.btn,
.main .content .form-group button.btn-sm,
.main .content .form-group button.btn-default {
    outline: none;
    font-size: inherit;
    color: #3B4856 !important;
}

.main .content .form-group button.btn:hover,
.main .content .form-group button.btn-sm:hover,
.main .content .form-group button.btn-default:hover  {
    color: #006699 !important;
}

.main .content input[type="text"].form-control,
.main .content input[type="email"].form-control,
.main .content input[type="password"].form-control  {
    border-color: #3B4856 !important;
    max-width: 100%;
}

.main .content input[type="text"].form-control:focus,
.main .content input[type="email"].form-control:focus,
.main .content input[type="password"].form-control:focus {
    border-color: #3B4856 !important;
    outline: 0 none !important;
    box-shadow: 0 !important;
}

@media (min-width: 768px) {
    body {
        font-size: 14px;
    }
    .main h2 {
        font-size: 30px;
    }
    .main .header {
        min-height: 120px;
        padding-top: 80px;
    }
    .main .header .text-center {
        margin: 0;
    }
    .main .header .text-center h1 {
        margin: 0;
        white-space: nowrap;
    }
    .main .copyr {
        margin-top: 5px;
        white-space: nowrap;
    }
    .main .content .glyphicon {
        font-size: 18px;
    }
    .main .content .border-right {
        padding-right: 0;
        min-height: 180px;
        border-right: 1px solid;
        border-right-color: #3B4856;
    }
    .main .content .content-left {
        float: right;
        position: relative;
        margin-right: 12px;
        text-align: right;
        min-height: 100%;
    }
    .main .content .content-left p {
        float: right;
        max-width: 300px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .main .content .content-left .img-logo {
        max-height: 60px;
        margin-bottom: 5px;
    }
    .main .content .border-left {
        padding-left: 0;
        min-height: 180px;
        border-left: 0px none;
    }
    .main .content .content-right {
        float: left;
        position: relative;
        margin-left: 12px;
        text-align: left;
        max-height: 100%;
    }
    .main .content .content-right p {
        max-width: 300px;
    }
    .main .content .content-right .img-logo {
        margin-left: auto;
        margin-right: auto;
        max-height: 150px;
        margin-bottom: 10px;
    }
}

@media (min-width: 377px) and  (max-width: 767px) {
    body{
        font-size: 16px;
    }
    .main h2 {
        font-size: 30px;
    }
    .main .header {
        padding-top: 5px;
    }
    .main .header .text-center {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
    }
    .main .header .text-center h1 {
        margin: 0;
        white-space: nowrap;
        letter-spacing: -1px;
    }
    .main .footer {
        display: none;
    }
    .main .copyr {
        white-space: nowrap;
        margin-bottom: 5px;
    }
    .main .content .glyphicon {
        font-size: 18px;
    }
    .main .content .border-right {
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
        border: 0px none;
    }
    .main .content .content-left {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .main .content .content-left h2 {
        letter-spacing: -1px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .main .content .content-left p {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .main .content .content-left .img-logo {
        margin-left: auto;
        margin-right: auto;
        max-height: 120px;
        margin-bottom: 10px;
    }
    .main .content .border-left {
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
        border: 0px none;
    }
    .main .content .content-right {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .main .content .content-right p {
        max-width: 100%;
    }
    .main .content .content-right .img-logo {
        margin-left: auto;
        margin-right: auto;
        max-height: 100px;
        margin-bottom: 10px;
    }
}

@media (max-width: 376px) {
    body{
        font-size: 18px;
    }
    .main h2 {
        font-size: 26px;
    }
    .main .header {
        padding-top: 5px;
    }
    .main .header .text-center {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
    }
    .main .header .text-center h1 {
        margin: 0;
        font-size: 32px;
        white-space: nowrap;
        letter-spacing: -1px;
    }
    .main .footer {
        display: none;
    }
    .main .copyr {
        white-space: nowrap;
        margin-bottom: 5px;
    }
    .main .content .glyphicon {
        font-size: 18px;
    }
    .main .content .border-right {
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
        border: 0px none;
    }
    .main .content .content-left {
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
        text-align: center;
    }
    .main .content .content-left h2 {
        letter-spacing: -1px;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
    .main .content .content-left p {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .main .content .content-left .img-logo {
        margin-left: auto;
        margin-right: auto;
        max-height: 100px;
        margin-bottom: 10px;
    }
    .main .content .border-left {
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
        border: 0px none;
    }
    .main .content .content-right {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .main .content .content-right p {
        max-width: 100%;
    }
    .main .content .content-right .img-logo {
        margin-left: auto;
        margin-right: auto;
        max-height: 100px;
        margin-bottom: 10px;
    }
}

@media (orientation: landscape) and (max-height: 639px) {
    .main .footer {
        display: none;
    }
}
