@font-face {
    font-family: Source Code Pro;
    font-weight: 400;
    src: url(../fonts/SourceCodePro-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Nonito Sans;
    font-weight: 400;
    src: url(../fonts/NunitoSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Nonito Sans Bold;
    font-weight: 600;
    src: url(../fonts/NunitoSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: Nonito Sans Bold Italic;
    font-style: italic;
    font-weight: 600;
    src: url(../fonts/NunitoSans-BoldItalic.ttf) format('truetype');
}

@media (min-width: 768px) {
    body {
        font-size: 14px;
    }
    .main h2 {
        font-size: 30px;
    }
    .main .header {
        min-height: 120px;
        padding-top: 80px;
    }
    .main .header .text-center {
        margin: 0;
    }
    .main .header .text-center h1 {
        margin: 0;
        white-space: nowrap;
    }
    .main .copyr {
        margin-top: 5px;
        white-space: nowrap;
    }
}

@media (min-width: 377px) and  (max-width: 767px) {
    body{
        font-size: 16px;
    }
    .main h2 {
        font-size: 30px;
    }
    .main .header {
        padding-top: 5px;
    }
    .main .header .text-center {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
    }
    .main .header .text-center h1 {
        margin: 0;
        white-space: nowrap;
        letter-spacing: -1px;
    }
    .main .footer {
        position: absolute;
        min-height: 33px;
        bottom: 0;
    }
    .main .copyr {
        white-space: nowrap;
        margin-bottom: 5px;
    }
}

@media (max-width: 376px) {
    body{
        font-size: 16px;
    }
    .main h2 {
        font-size: 26px;
    }
    .main .header {
        padding-top: 5px;
    }
    .main .header .text-center {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
    }
    .main .header .text-center h1 {
        margin: 0;
        font-size: 32px;
        white-space: nowrap;
        letter-spacing: -1px;
    }
    .main .footer {
        position: absolute;
        min-height: 33px;
        bottom: 0;
    }
    .main .copyr {
        white-space: nowrap;
        margin-bottom: 5px;
    }
}

body {
    font-family: Nonito Sans, sans-serif;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.dark-blue  {color: #3B4856;}
.mid-blue   {color: #006699;}
.light-blue {color: #9FADBD;}
.mid-fush   {color: #91496A;}
.light-fush {color: #C97B9D;}
.mid-yelo   {color: #E49D22;}
.light-yelo {color: #FFECCC;}
.mid-brown  {color: #8B7356;}
.mid-green  {color: #5CA700;}
.mid-red    {color: #FF3C26;}

.code {
    font-family: Source Code Pro;
}

.bold {
    font-family: Nonito Sans Bold;
}

.boldi {
    font-family: Nonito Sans Bold Italic;
}

.main h2,
.main h3,
.main h4 {
    white-space: nowrap;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
