
@media (min-width: 768px) {
    .main .border-right {
        padding-right: 0px !important;
        min-height: 180px;
        border-right: 1px solid;
        border-right-color: #3B4856;
    }
    .main .content-left {
        position: relative;
        float: right;
        margin-right: 12px;
        text-align: right;
        max-width: 100%;
    }
    .main .content-left p {
        margin-bottom: 5px;
    }
    .main .content-left .form-group {
        float: right;
        margin-top: 5px;
        margin-bottom: 5px;
        min-width: 270px;
    }
    .main .content-left .form-group button {
        color: #3B4856;
        margin-top: 10px;
        font-family: Nonito Sans Bold;
        font-weight: bold;
        outline: none !important;
    }
    .main .content-left .form-group button.btn-default:hover {
        color: #006699 !important;
    }
    .main .content-left .form-group input[type="email"] {
        border-color: #3B4856;
    }
    .main .content-left .form-group input[type="email"]:focus {
        border-color: #3B4856;
        outline: 0 none;
        box-shadow: 0;
    }
    .main .border-left {
        padding-left: 0px !important;
        min-height: 180px;
    }
    .main .content-right {
        float: left;
        margin-left: 12px;
        margin-bottom: 0;
        max-width: 100%;
    }
    .main .content-right .img-logo img {
        margin-top: 12px;
        max-height: 160px;
    }
}
@media (min-width: 377px) and  (max-width: 767px) {
    .main .border-right {
        max-width: 100%;
        margin-left: 10%;
        margin-right: 10%;
        border: 0px none;
    }
    .main .content-left {
        max-width: 80%;
        text-align: center;
    }
    .main .content-left h2 {
        letter-spacing: -1px;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
    .main .content-left p {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .main .content-left .form-group {
        margin-top: 15px;
        margin-bottom: 0;
    }
    .main .content-left .form-group button {
        color: #3B4856;
        outline: none !important;
    }
    .main .content-left .form-group button.btn-default:hover {
        color: #006699 !important;
    }
    .main .content-left .form-group input[type="email"] {
        border-color: #3B4856;
    }
    .main .content-left .form-group input[type="email"]:focus {
        border-color: #3B4856;
        outline: 0 none;
        box-shadow: 0;
    }
    .main .border-left {
        min-height: 0;
    }
    .main .content-right {
        margin: auto auto;
        margin-bottom: 0;
        max-width: 100%;
    }
    .main .content-right .img-logo {
        display: none;
    }
}

@media (max-width: 376px) {
    .main .border-right {
        max-width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 0;
        padding-right: 0;
        border: 0px none;
    }
    .main .content-left {
        max-width: 90%;
        text-align: center;
    }
    .main .content-left h2 {
        letter-spacing: -1px;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
    .main .content-left p {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .main .content-left .form-group {
        margin-top: 15px;
        margin-bottom: 0;
    }
    .main .content-left .form-group button {
        color: #3B4856;
        outline: none !important;
    }
    .main .content-left .form-group button.btn-default:hover {
        color: #006699 !important;
    }
    .main .content-left .form-group input[type="email"] {
        border-color: #3B4856;
    }
    .main .content-left .form-group input[type="email"]:focus {
        border-color: #3B4856;
        outline: 0 none;
        box-shadow: 0;
    }
    .main .border-left {
        min-height: 0;
    }
    .main .content-right {
        display: none;
    }
    .main .content-right .img-logo {
        display: none;
    }
}