
@media (min-width: 768px) {
    .main .content-left .form-group {
        margin-top: 5px;
        margin-bottom: 5px;
        max-width: 300px;
    }
    .main .content-left .generated-link {
        margin-top: 5px;
        margin-bottom: 5px;
        max-width: 300px;
    }
    .main .content-left .generated-link .input-group-addon{
        color: #3B4856;
        border-color: #3B4856;
    }
    .main .content-left .generated-link .clickable:hover {
        color: #006699;
        cursor: pointer;
    }
    .main .content-left .generated-link input {
        border-color: #3B4856;
    }
    .main .content-left .generated-link input:focus {
        border-color: #3B4856;
        outline: 0 none;
        box-shadow: 0;
    }
    .main .content-right p {
        text-align: justify;
    }
}
@media (min-width: 377px) and  (max-width: 767px) {
    .main .content-left .form-group button {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .main .content-left .generated-link {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .main .content-left .generated-link .input-group-addon{
        color: #3B4856;
        border-color: #3B4856;
    }
    .main .content-left .generated-link .clickable:hover {
        color: #006699;
        cursor: pointer;
    }
    .main .content-left .generated-link input {
        border-color: #3B4856;
    }
    .main .content-left .generated-link input:focus {
        border-color: #3B4856;
        outline: 0 none;
        box-shadow: 0;
    }
    .main .content-right p {
        margin-top: 15px;
        text-align: justify;
    }
}

@media (max-width: 376px) {
    .main .content-left .form-group button {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .main .content-left .generated-link {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .main .content-left .generated-link .input-group-addon{
        color: #3B4856;
        border-color: #3B4856;
    }
    .main .content-left .generated-link .clickable:hover {
        color: #006699;
        cursor: pointer;
    }
    .main .content-left .generated-link input {
        border-color: #3B4856;
    }
    .main .content-left .generated-link input:focus {
        border-color: #3B4856;
        outline: 0 none;
        box-shadow: 0;
    }
    .main .content-right p {
        margin-top: 15px;
        text-align: justify;
    }
}