
@media (min-width: 768px) {
    .main .border-right {
        min-height: 240px;
    }
    .main .border-left {
        min-height: 240px;
    }
    .main .content-right .form-container #ideal-bank-element {
        padding-top: 3px;
        min-height: 33px;
        border: 1px solid #3B4856;
        border-radius: 4px;
    }
    .main .content-right .form-container.top {
        margin-top: 5px;
    }
    .main .content-right .form-container.mid {
        margin-top: 25px;
    }
    .main .content-right .form-group {
        width: 270px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .main .content-right .form-group button {
        margin-top: 20px;
    }
}
@media (min-width: 377px) and  (max-width: 767px) {
    .main .content-right .form-container #ideal-bank-element {
        padding-top: 3px;
        min-height: 33px;
        border: 1px solid #3B4856;
        border-radius: 4px;
    }
    .main .content-right .form-container.top {
        margin-top: 5px;
    }
    .main .content-right .form-container.mid {
        margin-top: 25px;
    }
    .main .content-right .form-group {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .main .content-right .form-group button {
        margin-top: 20px;
        margin-bottom: 25px;
    }
}
@media (max-width: 376px) {
    .main .content-right .form-container #ideal-bank-element {
        padding-top: 3px;
        min-height: 33px;
        border: 1px solid #3B4856;
        border-radius: 4px;
    }
    .main .content-right .form-container.top {
        margin-top: 5px;
    }
    .main .content-right .form-container.mid {
        margin-top: 25px;
    }
    .main .content-right .form-group {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .main .content-right .form-group button {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}