
.main .detail button {
    clear: both;
    display: block;
    outline: none;
    font-size: inherit;
    color: #3B4856 !important;
}

.main .detail button:hover {
    color: #006699 !important;
}

@media (min-width: 768px) {
    .main .content-left .result {
        margin-bottom: 15px;
    }
    .main .content-right .detail {
        margin-top: 10px;
        max-width: 320px;
    }
}
@media (min-width: 377px) and  (max-width: 767px) {
    .main .content-left .result {
        margin-bottom: 15px;
    }
    .main .content-right .detail {
        margin-top: 10px;
    }
}
@media (max-width: 376px) {
    .main .content-left .result {
        margin-bottom: 15px;
    }
    .main .content-right .detail {
        margin-top: 10px;
    }
}