
@media (min-width: 768px) {
    .main .border-right {
        min-height: 100px;
    }
    .main .content-left .result {
        margin-bottom: 15px;
    }
    .main .border-left {
        min-height: 100px;
    }
    .main .content-right .detail {
        margin-top: 10px;
        max-width: 320px;
    }
}
@media (min-width: 377px) and  (max-width: 767px) {
    .main .content-left .result {
        margin-bottom: 15px;
    }
    .main .content-right .detail {
        margin-top: 10px;
    }
}
@media (max-width: 376px) {
    .main .content-left .result {
        margin-bottom: 15px;
    }
    .main .content-right .detail {
        margin-top: 10px;
    }
}